.ps-caption{
    opacity:0.8 !important;
}

.ps-toolbar {
    opacity:0.8 !important;
}

.my-gallery{

    column-count:         2;
    column-gap:           0px;
}

.photo{
    width: 100% !important;
    height: auto !important;;
}

.right-panel {
    padding-left: 3%;
    padding-right: 3%;
}

@media (max-width: 600px) {
    .my-gallery {
        -moz-column-count:    1;
        -webkit-column-count: 1;
        column-count:         1;
    }
}